<div class="d-flex flex-column flex-shrink-0 p-3 bg-light position-sticky" style="width: 250px; height: 100vh; top: 0;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        <span class="fs-4">Dotation vestimentaire :</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/dota" class="nav-link {% if active_link == 'catalogue' %}active{% else %} link-dark {% endif %}" aria-current="page">
                <i class="fas fa-th-list me-2" aria-hidden="true"></i> Catalogue
            </a>
        </li>
        <li>
            <a href="/dota/stock" class="nav-link {% if active_link == 'stock' %}active{% else %} link-dark {% endif %}">
                <i class="fas fa-warehouse me-2" aria-hidden="true"></i> Stock
            </a>
        </li>
        <li>
            <a href="/dota/admin" class="nav-link {% if active_link == 'admin' %}active{% else %} link-dark {% endif %}">
                <i class="fas fa-cogs me-2" aria-hidden="true"></i> Administration
            </a>
        </li>
        <li class="nav-item">
            <a href="{{ path('app_mes_commandes_dota') }}" class="nav-link {% if active_link == 'mes_commandes' %}active{% else %} link-dark {% endif %}">
                <i class="fas fa-box me-2" aria-hidden="true"></i> Mes commandes
            </a>
        </li>

        <li class="nav-item">
            <a href="{{ path('app_gestion_commandes_dota') }}" class="nav-link {% if active_link == 'gestion_commandes' %}active{% else %} link-dark {% endif %}">
                <i class="fas fa-box me-2" aria-hidden="true"></i> Gestion des commandes
            </a>
        </li>
    </ul>
    <hr>
</div>
