<!-- Modal -->
<div class="modal fade" id="modalInfos" tabindex="-1" aria-labelledby="modalInfosLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered">
                <div class="modal-content">
                        <div class="modal-header">
                                <h5 class="modal-title modalInfos" id="prenomModal"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                                <div class="row">
                                        <div class="col-sm-5" style="overflow: auto;">
                                                <strong><div class="d-inline" id="serviceModal"></div><br></strong>
                                                 <strong><div class="d-inline" id="fonctionModal"></div><br> </strong>
                                                 <strong>Spécialité : </strong><div class="d-inline" id="specialiteModal"></div><br> 
                                                 <strong>Supérieur : </strong> <div class="d-inline" id="superieurModal"></div>                                               
                                                <br>
                                        </div>
                                        <div class="col-sm-5" style="overflow: auto;">
                                                <strong>Tel Mobile :</strong> <div class="d-inline" id="telMobileModal"></div><br>
                                                <strong>Mail :</strong> <div class="d-inline" id="mailModal"></div><br>
                                                <strong>Bureau :</strong> <div class="d-inline" id="batimentModal"></div><br>
                                
                                                
                                        </div>
                                        <div id="photoModal" class="col" style="background: url(/../img/default.png) no-repeat center center ;background-size: cover;">
                                        </div>
                                </div>
                        </div>
                        <div class="modal-footer" id="divModifier">
                                {# <a class="btn btn-dark" id="btnOrganigramme" target="_blank">Trombinoscope du service</a>
                                <a class="btn btn-dark" id="btnOrganigrammeEquipe" target="_blank">Trombinoscope de l'équipe</a>
                                <a class="btn btn-primary" id="btnModifier" hidden>Modifier</a> #}
                        </div>
                </div>
        </div>
</div>

