{% extends 'base.html.twig' %} 
{% block title %}Accueil{% endblock %}



{% block javascripts %}
<script type="text/javascript" src="{{asset('js/lib/organigramme/d3.v7.min.js')}}"></script>
<script type="text/javascript" src="{{asset('js/lib/organigramme/d3-org-chart@2')}}"></script>
<script type="text/javascript" src="{{asset('js/lib/organigramme/d3-flextree.js')}}"></script>

{% endblock %}

{% block body %}
{% include 'navbar.html.twig' %}



<div class="chart-container" style="height: 900px; background-color: #fffeff; border-color: blue; border-color: #1271b6; border-width: 5px;border-style: solid;"></div>


<script type="text/javascript" src="{{ asset('js/organigramme/organigrammeV3.js') }}"></script>
    
        {# <script> document.getElementById("btnModifier").hidden = false; </script> #}

{% include 'organigramme/modal.html.twig' %}


{% endblock %}

