<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .bg-vin {
            background-color: #800000; /* Couleur vin */
        }
        .text-white {
            color: white; /* Couleur du texte en blanc */
        }
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-vin">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#"><h2>Chateau Latour</h2></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12.5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11zm0-5a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-11z"/>
                </svg>
            </span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link text-white" href="/" aria-current="page">Accueil</a>
                <a class="nav-item nav-link text-white" href="http://nic/#!/calendar">Calendrier</a>
                <a class="nav-item nav-link text-white" href="http://nic/RP#!/repas">Repas</a>
                <a class="nav-item nav-link text-white" href="http://nic/#!/event">Visites</a>
                <a class="nav-item nav-link text-white" href="/getEvents">Formations</a>
                <a class="nav-item nav-link text-white" href="/getAllEvents">Tous les évènements Latour</a>

                {% if app.user %}
                <!-- Liste déroulante pour les autres liens -->
                {# <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Outils
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item " href="/signature">Générateur signature</a></li>
                        <li><a class="dropdown-item " href="/calculette">Calculette heure</a></li>
                        <li><a class="dropdown-item " href="/dota">Dotation vestimentaire</a></li>
                        <li><a class="dropdown-item " href="/organigramme">Organigramme</a></li>
                        <li><a class="dropdown-item " href="/upload">Administer organigramme</a></li>
                    </ul>
                </li> #}
                {% endif %}
            </div>
            <div class="ms-auto d-flex align-items-center"> 
                {% if app.user %}
                    <a class="nav-item nav-link text-white me-2">{{ app.user.userIdentifier }}</a>
                    <span class="text-white">
                        <button class="btn btn-primary me-2" onclick="window.location.href='/profil'">Mon profil</button>
                        <button class="btn btn-danger me-2" onclick="window.location.href='/logout'">Déconnexion</button>
                    </span>
                {% else %}
                    <span class="text-white">
                        <button class="btn btn-success me-2" onclick="window.location.href='/login'">Connexion</button>
                    </span>
                {% endif %}
            </div>
        </div>
    </div>
</nav>
</body>
</html>
